### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Kotlin ###
.kotlin/

### Build output ###
out/
bin/
build/

!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/build/
!**/src/test/**/build/

### Project-specific files ###
src/main/java/notes/

### Eclipse ###
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.env
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store